
$tt-dark1: #403E3F; /* Light grey */
$tt-dark2: #1F1E26; /* Dark grey-blue */
$tt-dark3: #25261E; /* Dark grey-green */
$tt-dark4: #0D0C0B; /* Dark almost black */
$tt-dark5: #262523; /* Dark grey */

footer {
  width: 100%;
  text-align: center;
  background-color: #1e1e1f;
  margin: 0px auto 0px auto;
}
.footer-bg {
  width: 100%;
  max-width: 1366px;
  background-color: $tt-dark5;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
.social {
  display: block;
  a {
    color: white;
    font-size: 1.5em;
    text-decoration:none;
    margin: 5px;
  }
  a:hover {
    color: red;
    text-decoration:none;
  }
}
.disclaimer {
  font-size:12px;
  color:grey;
  width: 100;
  max-width: 1366px;
  margin: 0px auto;
  padding: 10px;
  background-color: transparent;
}
.footer-row {
  padding:0;
 }

.copyright {
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: yellow;
    text-decoration: none;
  }
  img {
    float: left;
  }
}
