$tt-red: #e10017;

header {
    background-color: #0D0C0B;
    width: 100%;
    margin: 0px auto;
    border-bottom: 2px solid #262523;
}

.navbar {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
}
nav {
    margin: 0;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #0D0C0B;
    }

    li {
        display: inline-block;
        text-align: center;
        border-right: 1px solid grey;
        margin: 0 10px 0 10px;
        padding: 0 10px 0 10px;
    }

    li:last-child {
        border-right: none;
    }

    a {
        display: block;
        color: white;
        text-align: center;
        padding: 12px 16px;
        text-decoration: none;
    }

    a:hover,
    .nav-active {
        border-bottom: 2px red solid;
        color: white;
    }

    img {
        margin-right: 50px;
        float: left;
    }
}

a.navbar-brand:hover {
    background-color: transparent;
    border: none;
}


.dropdown-menu {

  a {
      display: block;
      background-color: #0D0C0B;
      color: white;
      text-align: center;
      padding: 12px 16px;
      text-decoration: none;
  }
  a:hover,
  .nav-active {
      border-bottom: 2px red solid;
      color: white;
      background-color: #0D0C0B;
  }
}

.dropdown-menu.show {
  background-color: #0D0C0B;
}

.logged-in {
  text-align: right;
  font-size:0.9em;
  padding:5px;
  margin: 0px 40px 0px 0px;
  display: inline-block;
  a {
    color: gray;
    text-decoration: none;
  }
  a:hover {
    color: red;
    border-bottom: 1px red solid;
  }
}
.login {
  width:100%;
  max-width: 1366px;
  margin: 0px auto 0px auto;
  padding:0;
}
