$font-stack: 'Headland One', sans-serif;
$font-title: 'Arbutus', serif;
$font-heading: 'Special Elite', serif;

$tt-red: #e10017;
$tt-green: #169f00;
$tt-yellow: #ffcf11;
$tt-orange: #fe6600;

$tt-dark1: #403E3F; /* Light grey */
$tt-dark2: #1F1E26; /* Dark grey-blue */
$tt-dark3: #25261E; /* Dark grey-green */
$tt-dark4: #0D0C0B; /* Dark almost black */
$tt-dark5: #262523; /* Dark grey */

body {
  margin: 0;
  padding: 0;
  background-color: black;
  background-image:url(../images/bg-textured.jpg);
  background-size: contain;
}

#container {
  width: 100%;
  max-width:1366px;
  margin: 0px auto 0px auto;
}

main {
  font-family: $font-stack;
  font-size: 16px;
  color: #f8f8ff;
}

.row {
  padding: 25px;
}

.textured {
  background-image: url(../images/bg-textured.jpg);
}
.boxed {
  background-image: url(../images/beer_box.png);
  padding: 5px;
}

.transparent {
  background-color: transparent;
}
.dark-line {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: $tt-dark1;
}

/** HEADINGS **/

h1 {
  font-family: $font-title;
  text-transform: uppercase;
  font-size: 2em;
  color: $tt-red;
}
h2 {
  color:$tt-yellow;
  font-size:3em;
  font-family: $font-heading;
  text-transform: uppercase;
}
h3 {
  color:$tt-green;
  font-size:2.7em;
  font-family: $font-heading;
  text-transform: uppercase;
}


.contact-form {
  width: 50%;
  margin: 10px auto 10px auto;
}

/* Call to Action links */

.c2a {
  a {
    color: $tt-yellow;
    font-family: $font-heading;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 1.8em;
  }
  a:hover {
    text-decoration: none;
    color: $tt-orange;
  }

}
/* Set card-overlay font-size to 5vw on small screens*/
@media screen and (max-width: 600px) {
  div.card-img-overlay  h1 {
    font-size: 5vw;
  }
  div.card-img-overlay p {
    font-size: 5vw;
  }
}
/* Enlarge card-overlay font size on wide screens */
@media screen and (min-width: 601px) {
  div.card-img-overlay  h1 {
    font-size: 4em;
  }
  div.card-img-overlay p {
    font-size: 2.8em;
  }
}


/** Page section backgrounds **/
.no-gutters {
  margin:0;
  padding:0;
}

.box-blue {
  background-color: $tt-dark2;
}
.box-green {
  background-color: $tt-dark3;
}
.box-black {
  background-color: black;
}

.box-text {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  p {
    text-align: left;
  }
}

.img-crop {
  width: inherit;
  height: 556px;
  object-fit: none;
  object-position: center top;
}

.tt-icon {
  margin-top:15px;
  margin-bottom: 15px;
}

@media only screen and (max-width : 1024px) {
  .tt-icon {
    margin: 10px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .event-small {
    background-color: red;
  }
  img.event-small {
    max-width:none;
  }
}



/** ORDER FORM AND SHOPPING CART **/
.paypal {
  margin-top: 50px;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

/** PRODUCT INFO **/
.w-30 {
  width: 30% !important;
}
.w-70 {
  width: 70% !important;
}

.order-form{
  height: 135px;
  padding:0;
}
