$font-stack: 'Open Sans', sans-serif;
$font-title: 'Arbutus', cursive;
$tt-red: #e10017;
$tt-green: #169f00;
$tt-yellow: #ffcf11;
$tt-orange: #fe6600;

body {
  font-family: $font-stack;
  color: black;
  margin: 0;
  padding: 0;
  background-color:white;
}

#container {
  width: 100%;
  max-width: 1366px;
  background-color: white;
  margin: 0px auto 0px auto;
}


/** HEADINGS **/

h1 {
  font-family: $font-title;
  text-transform: uppercase;
  font-size: 2em;
  color: $tt-red;
}
h2 {
  color:$tt-green;
  font-size:16px;
}
