/** HEADER STYLES **/
header {
  background-color: black;
  width: 100%;
  margin: 0px auto; }

.navbar {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto; }

nav {
  margin: 0;
  background-color: rgba(0, 0, 1, 0.1); }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black; }
  nav li {
    display: inline-block;
    text-align: center;
    border-right: 1px solid grey;
    margin: 0 10px 0 10px;
    padding: 0 10px 0 10px; }
  nav li:last-child {
    border-right: none; }
  nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none; }
  nav a:hover,
  nav .nav-active {
    border-bottom: 2px red solid;
    color: white; }
  nav img {
    margin-right: 50px;
    float: left; }

a.navbar-brand:hover {
  background-color: transparent;
  border: none; }

.dropdown-menu a {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none; }
.dropdown-menu a:hover,
.dropdown-menu .nav-active {
  border-bottom: 2px red solid;
  color: white;
  background-color: black; }

.dropdown-menu.show {
  background-color: black; }

.logged-in {
  text-align: right;
  padding: 5px;
  margin-bottom: 10px; }
  .logged-in a {
    color: gray;
    text-decoration: none; }
  .logged-in a:hover {
    color: red;
    border-bottom: 1px red solid; }

/** MAIN STYLES **/
/* Light grey */
/* Dark grey-blue */
/* Dark grey-green */
/* Dark almost black */
/* Dark grey */
body {
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: url(../images/bg-textured.jpg);
  background-size: contain; }

#container {
  width: 100%;
  max-width: 1366px;
  margin: 0px auto 0px auto; }

main {
  font-family: "Headland One", sans-serif;
  font-size: 16px;
  color: #f8f8ff; }

.row {
  padding: 25px; }

.textured {
  background-image: url(../images/bg-textured.jpg); }

.boxed {
  background-image: url(../images/beer_box.png);
  padding: 5px; }

.transparent {
  background-color: transparent; }

.dark-line {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: #403E3F; }

/** HEADINGS **/
h1 {
  font-family: "Arbutus", serif;
  text-transform: uppercase;
  font-size: 2em;
  color: #e10017; }

h2 {
  color: #ffcf11;
  font-size: 3em;
  font-family: "Special Elite", serif;
  text-transform: uppercase; }

h3 {
  color: #169f00;
  font-size: 2.7em;
  font-family: "Special Elite", serif;
  text-transform: uppercase; }

.contact-form {
  width: 50%;
  margin: 10px auto 10px auto; }

/* Call to Action links */
.c2a a {
  color: #ffcf11;
  font-family: "Special Elite", serif;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 1.8em; }
.c2a a:hover {
  text-decoration: none;
  color: #fe6600; }

/* Set card-overlay font-size to 5vw on small screens*/
@media screen and (max-width: 600px) {
  div.card-img-overlay h1 {
    font-size: 5vw; }

  div.card-img-overlay p {
    font-size: 5vw; } }
/* Enlarge card-overlay font size on wide screens */
@media screen and (min-width: 601px) {
  div.card-img-overlay h1 {
    font-size: 4em; }

  div.card-img-overlay p {
    font-size: 2.8em; } }
/** Page section backgrounds **/
.no-gutters {
  margin: 0;
  padding: 0; }

.box-blue {
  background-color: #1F1E26; }

.box-green {
  background-color: #25261E; }

.box-text {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  .box-text p {
    text-align: left; }

.img-crop {
  width: inherit;
  height: 556px;
  object-fit: none;
  object-position: center top; }

.tt-icon {
  margin-top: 15px;
  margin-bottom: 15px; }

@media only screen and (max-width: 1024px) {
  .tt-icon {
    margin: 10px; } }
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .event-small {
    background-color: red; }

  img.event-small {
    max-width: none; } }
/** ORDER FORM AND SHOPPING CART **/
.paypal {
  margin-top: 50px;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto; }

/** PRODUCT INFO **/
.w-30 {
  width: 30% !important; }

.order-form {
  height: 135px;
  padding: 0; }

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: auto; }

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(460px, -100px) rotate(180deg);
  -ms-transform: translate(460px, -100px) rotate(180deg);
  transform: translate(460px, -100px) rotate(180deg);
  -webkit-transition: all 0.2s 0.4s ease-in-out;
  transition: all 0.2s 0.4s ease-in-out; }

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 2em;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6); }

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 30px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
  background-color: red; }

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }

.hovereffect:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s; }

.hovereffect:hover a.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s; }

.socialhover {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default; }

.socialhover .socialoverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; }

.socialhover img {
  display: block;
  position: relative; }

.socialhover h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 3em;
  padding: 10px; }

.socialhover:hover h2 {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
  transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1); }

.socialhover a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent; }

.socialhover a.info:hover {
  box-shadow: 0 0 5px #fff; }

.socialhover hr {
  width: 40%;
  opacity: 0;
  filter: alpha(opacity=0);
  border: 1px solid #FFF; }

.socialhover hr:nth-child(3) {
  -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 90deg) scale3d(0, 0, 1);
  transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 90deg) scale3d(0, 0, 1); }

.socialhover hr:nth-child(4) {
  -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 180deg) scale3d(0, 0, 1);
  transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 180deg) scale3d(0, 0, 1); }

.socialhover h2, .socialhover hr {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  background-color: transparent;
  margin: 0px; }

.set1, .set2 {
  left: 50%;
  position: absolute;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  background-color: transparent;
  margin: 0px;
  padding: 0px; }

.set1 {
  top: 40%; }

.set2 {
  top: 60%; }

.socialhover p {
  width: 30%;
  text-transform: none;
  font-size: 16px;
  line-height: 2; }

.socialhover p a {
  color: #fff; }

.socialhover p a:hover,
.socialhover p a:focus {
  opacity: 0.6;
  filter: alpha(opacity=60); }

.socialhover a i {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  padding: 16px;
  font-size: 24px; }

.set1 a:first-child i {
  -webkit-transform: translate3d(-60px, -60px, 0);
  transform: translate3d(-60px, -60px, 0); }

.set1 a:nth-child(2) i {
  -webkit-transform: translate3d(60px, -60px, 0);
  transform: translate3d(60px, -60px, 0); }

.set2 a:first-child i {
  -webkit-transform: translate3d(-60px, 60px, 0);
  transform: translate3d(-60px, 60px, 0); }

.set2 a:nth-child(2) i {
  -webkit-transform: translate3d(60px, 60px, 0);
  transform: translate3d(60px, 60px, 0); }

.socialhover:hover hr:nth-child(3) {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -90deg) scale3d(1, 1, 1);
  transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -90deg) scale3d(1, 1, 1); }

.socialhover:hover hr:nth-child(4) {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -180deg) scale3d(1, 1, 1);
  transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -180deg) scale3d(1, 1, 1); }

.socialhover:hover .set1 i:empty, .socialhover:hover .set2 i:empty {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  filter: alpha(opacity=100); }

/** FOOTER STYLES **/
/* Light grey */
/* Dark grey-blue */
/* Dark grey-green */
/* Dark almost black */
/* Dark grey */
footer {
  width: 100%;
  text-align: center;
  background-color: #262523;
  margin: 0px auto 0px auto; }

.footer-bg {
  width: 100%;
  max-width: 1366px;
  background-color: #262523;
  padding: 10px;
  margin-left: auto;
  margin-right: auto; }

.social {
  display: block; }
  .social a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    margin: 5px; }
  .social a:hover {
    color: red;
    text-decoration: none; }

.disclaimer {
  font-size: 12px;
  color: grey;
  width: 100;
  max-width: 1366px;
  margin: 0px auto;
  padding: 10px;
  background-color: transparent; }

.footer-row {
  padding: 0; }

.copyright {
  font-size: 14px;
  display: block;
  text-align: center; }
  .copyright a {
    color: white;
    text-decoration: none; }
  .copyright a:hover {
    color: red;
    text-decoration: none; }

/** CONTACT FORM **/
.contact-form div {
  padding: 5px; }
.contact-form label {
  display: block;
  width: 10%; }

/*# sourceMappingURL=style.css.map */
